---
layout: null
sitemap: false
---

$body-background-color: #3A4149;

$content-max-width: 800px;
$content-color: #222;
$content-background-color: #fff;

$brand-colour: #0096EB;
$brand-colour-light: #F0F0F0;

$nav-header-background-color: $brand-colour;
$nav-header-height: 60px;
$nav-background-color: #F7F7F7;
$nav-width: 300px;

$space: 20px;

$mobile-break: 700px;
$full-width-break: $nav-width + ($space * 4) + $content-max-width;

@import "mixins";
@import "normalize";
@import "pygments";
@import "typography";
@import "code";
@import "tables";
@import "layout";



article.content p {
  margin: 0;
}



article.content ul, article.content ol {
  margin: 0;
  margin-top: 0.2em;
}

article.content > ol > li, article.content > ul > li {
  margin-top: 1em;
}


article.content > ul.note {
  list-style-type: none;
  padding: 0;
}

ul.note > li {
  font-size: 1.1em;
  margin-bottom: 1.2em;
  padding-left: 0.5em;
  padding-top: 5px;
  background-color: $brand-colour-light;
  border-left: 5px solid $brand-colour;
}

ul.note > li > blockquote {
  background-color: $brand-colour-light;
  border-color: $brand-colour;
  margin-top: 0.1em;
  margin-left: -0.3em;
  margin-right: 0em;
  padding: 0.2em;
  padding-left: 0.5em;
  font-size: 0.75em;
  border: none;
}

